* {
  font-family: "Pangolin";
  /* border: 2px solid red; */
}

/* Navbar */

.nav-link {
  font-size: 24px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 1px, rgba(0, 0, 0, 0.08) 0px 10px 30px;
  z-index: 1000000;
}

/* banner wraps and containers */
.banner-wrap,
.banner-wrap-contactus {
  padding: 120px 25px 120px 25px;
  background-color: #fff79c;
  border: 5px dashed black;
  position: relative;
}

.notes-wrap {
  padding: 120px 25px 300px 25px;
  background-color: #fff79c;
  border: 5px dashed black;
  position: relative;
}

.banner-wrap-contactus {
  padding: 60px 25px 60px 25px;
  margin-bottom: 50px;
}

.home-container {
  width: 60%;
  margin: auto;
  margin-top: 5%;
}

.notes-container {
  width: 95%;
  margin: auto;
  margin-top: 5%;
}
.banner-heading {
  text-align: center;
}

.tagline-text {
  text-align: center;
  padding-left: 3em;
}

.details {
  margin-top: 30px;
  margin-bottom: 0;
}

.container-2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
  z-index: -1;
}

.container-3 {
  display: none;
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 300;
}
/* forms */
.form-control {
  border: 3px dotted gray;
}

#note-text {
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  width: 275px;
  height: 275px;
  padding: 40px 25px 25px 25px;
}

/* images and icons */

#check-icon,
#x-icon {
  color: gray;
}

#check-icon {
  position: absolute;
  right: 17%;
  top: 4%;
}

#x-icon {
  position: absolute;
  right: 7%;
  top: 4%;
}

.pin {
  position: absolute;
  bottom: 85%;
  left: 90%;
}

/* Buttons */

.make-notes,
.add-notes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.form-btn {
  float: right;
}

.make-notes a {
  text-decoration: none;
  color: white;
  padding: 5px 40px 5px 40px;
}
.add-notes {
  margin-bottom: 10px;
}

.make-notes-btn {
  font-size: 24px;
  padding-left: 0px;
  padding-right: 0px;
}

.add-notes-btn {
  padding: 10px 40px 10px 40px;
  font-size: 24px;
}

/* Media Queries */

@media screen and (min-width: 751px) {
  .banner-heading {
    font-size: 80px;
  }

  .tagline-text {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 750px) {
  .banner-heading {
    font-size: 40px;
  }

  .tagline-text {
    font-size: 18px;
  }

  .banner-wrap {
    padding: 40px 15px 40px 15px;
    background-color: #fff79c;
  }

  .home-container {
    width: 80%;
  }

  .pin {
    position: absolute;
    bottom: 85%;
    left: 85%;
  }

  .make-notes-btn,
  .add-notes-btn {
    font-size: 16px;
    z-index: 100;
  }

  .banner-wrap-contactus {
    padding: 40px 25px 40px 25px;
    margin-bottom: 50px;
  }

  .container-3 {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
  }
}
